<% frame_id = dom_id(post, 'title_turbo_frame') %>
<%= form_with model: post, data: { turbo_frame: frame_id } do %>
  <%= turbo_frame_tag frame_id do %>
    <h1>
      <%= post.title %>
    </h1>
    <%= link_to "Edit Title", edit_post_path(post) %>
  <% end %>
<% end %>

<% frame_id = dom_id(post, 'body_turbo_frame') %>
<%= form_with model: post, data: { turbo_frame: frame_id } do %>
  <%= turbo_frame_tag frame_id do %>
    <p>
      <%= post.body %>
    </p>
    <%= link_to "Edit Body", edit_post_path(post) %>
  <% end %>
<% end %>

<%= button_to "Destroy this post", post, method: :delete %>